@page "/kont"
@using Rcrud.Shared
@inject HttpClient HC

<EditForm Model=Osoba OnSubmit=Posalji>
    <i>Ime:</i><InputText @bind-Value=Osoba.Name/><br/>
    <i>Prezime:</i><InputText @bind-Value=Osoba.Surname/><br/>
    <button class="btn-primary" type="submit">Posalji</button>
</EditForm>

@if (Osobe.Any())
{
    <table>
        <thead>
            <td>Id</td>
            <td>Name</td>
            <td>Surname</td>
            <td>Delete</td>
        </thead>

        @foreach (Osoba o in Osobe)
        {
            <tr> 
                <td>@o.Id</td>
                <td>@o.Name</td>
                <td>@o.Surname</td>
                <td><button @onclick="() => Brisi(o)">Delete</button></td>
                <td><button @onclick="() => Update(o)">Update</button></td>
            </tr>
        }
    </table>
}

@code {
    private Osoba Osoba { get; set; } = new();
    private List<Osoba> Osobe { get; set; } = new();

    private async void Update()
    {
        Osobe = await HC.GetFromJsonAsync<List<Osoba>>("osoba");
        if (Osobe is null)
            Osobe = new();
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
        => Update();

    private async void Brisi(Osoba o)
    {
      
        await HC.DeleteAsync("osoba?zklj");
        //Update();
    }
    private void Update(Osoba o)
    {
       
    }

    private async void Posalji()
    {

    }
}
